@model IEnumerable<G3_Practice.Models.Productos>
@{
    ViewBag.Title = "ProductosClientesIndex";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Nuestros Productos</h2>
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var producto in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@Html.DisplayFor(modelItem => producto.imagen)" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;" alt="@producto.ProductoName">
                        <div class="card-body">
                            <h5 class="card-title">Nombre: @Html.DisplayFor(modelItem => producto.ProductoName)</h5>
                            <h5 class="card-title">Stock: @Html.DisplayFor(modelItem => producto.stock)</h5>
                            <p class="card-text"><strong>Precio:</strong> @Html.DisplayFor(modelItem => producto.Price)</p>
                            <a href="@Url.Action("AgregarAlCarrito", "Carrito", new { id = producto.ProductoId, producto.ProductoName, producto.Price, producto.stock, producto.imagen })" class="btn btn-primary">Agregar al Carrito</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">No hay productos</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
