@model IEnumerable<G3_Practice.Models.PedidoDetalles>

<h2>Productos de Pedido</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.UsuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.ProductoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.UsuarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.ProductoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        
    </tr>
}

</table>
